<div data-role="header">
<h1>Listing posts</h1>
  <%= link_to 'Add', new_post_path ,'data-icon' => 'plus' , 'class' => 'ui-btn-right' ,:target => '_parent'%>
</div>


    <div data-role="content">
      <ul data-role="listview">
    <% @posts.each do |post| %>
      <li>
         <%= link_to post.title , post ,:target => '_parent' %>
        <!-- <#%= post.body %>
       <#%= link_to 'Show', post %>  -->
         <%= link_to 'edit post', edit_post_path(post), 'data-icon'=> 'gear' ,:target => '_parent' %>
        <!-- <#%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        -->
      </li>
    <% end %>
      </ul>
    </div>





<!--<#%= link_to 'New Post', new_post_path %>-->
