
<html>
<head>
  <title>Geolocation</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
      html, body, #map-canvas {
          height: 100%;
          margin: 0px;
          padding: 0px
      }
  </style>
  <!--
  Include the maps javascript with sensor=true because this code is using a
  sensor (a GPS locator) to determine the user's location.
  See: https://developers.google.com/maps/documentation/javascript/tutorial#Loading_the_Maps_API
  -->
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDIAWj6dRK3iiTYm4q23Vbe-Ina6hSQfd0&sensor=true&language=it" type="text/javascript"></script>

  <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see a blank space instead of the map, this
      // is probably because you have denied permission for location sharing.

      var map;
      var pos;


      function handleNoGeolocation(errorFlag) {
          if (errorFlag) {
              var content = 'Error: The Geolocation service failed.';
              pos= "Catania ,Italia"

          } else {
              var content = 'Error: Your browser doesn\'t support geolocation.';
              pos= "Catania ,Italia"

          }
      }





      var directionDisplay;
      var directionsService = new google.maps.DirectionsService();

      function initialize() {

          calcRoute();
          directionsDisplay = new google.maps.DirectionsRenderer();
          var myOptions = {
// zoom:6, // non cambia nulla...
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }

          map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

          directionsDisplay.setMap(map);



      }

      function calcRoute() {

          var arrivo = "Catania , Italia"

// Try HTML5 geolocation
          if(navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {

                          var request = {
                              origin: new google.maps.LatLng(position.coords.latitude,
                                      position.coords.longitude )
                              ,
                              destination:arrivo,
                              travelMode: google.maps.DirectionsTravelMode.DRIVING
                          };
                          directionsService.route(request, function(response, status) {
                              if (status == google.maps.DirectionsStatus.OK) {
                                  directionsDisplay.setDirections(response);
                              }
                          });


                      }
                      , function() {
                          handleNoGeolocation(true);
                      });
          } else {
// Browser doesn't support Geolocation
              handleNoGeolocation(false);
              var partenza = "Catania , Italia"
              var request = {
                  origin:partenza ,
                  destination:arrivo,
                  travelMode: google.maps.DirectionsTravelMode.DRIVING

              };
              directionsService.route(request, function(response, status) {
                  if (status == google.maps.DirectionsStatus.OK) {
                      directionsDisplay.setDirections(response);
                  }
              });
          }


      }
      window.onload = initialize;


  </script>
</head>
<body>

<div id="map-canvas" style="width:500px; height: 500px"></div>


</body>
</html>


<!--<#%= link_to 'New Post', new_post_path %>-->

</div>

</body>
</html>
